<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SchoolRegistrationWebsite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentView</servlet-name>
    <jsp-file>/student-view/studentView.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentView</servlet-name>
    <url-pattern>/student-account</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentCalculateTuition</servlet-name>
    <jsp-file>/student-view/studentCalculateTuition.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentCalculateTuition</servlet-name>
    <url-pattern>/student-tuition-page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentEnrollSubject</servlet-name>
    <jsp-file>/student-view/studentEnrollSubject.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentEnrollSubject</servlet-name>
    <url-pattern>/student-enroll-page</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentViewEnrolledClasses</servlet-name>
    <jsp-file>/student-view/studentViewEnrolledClasses.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentViewEnrolledClasses</servlet-name>
    <url-pattern>/student-enrolled-page</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>TestServlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBServlet</display-name>
    <servlet-name>DBServlet</servlet-name>
    <servlet-class>servlet.DBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBServlet</servlet-name>
    <url-pattern>/DBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogInServlet</display-name>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>servlet.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/LogInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentViewServlet</display-name>
    <servlet-name>StudentViewServlet</servlet-name>
    <servlet-class>servlet.StudentViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentViewServlet</servlet-name>
    <url-pattern>/StudentViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentViewEnrolledServlet</display-name>
    <servlet-name>StudentViewEnrolledServlet</servlet-name>
    <servlet-class>servlet.StudentViewEnrolledServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentViewEnrolledServlet</servlet-name>
    <url-pattern>/student-enrolled</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnrollStudentServlet</display-name>
    <servlet-name>EnrollStudentServlet</servlet-name>
    <servlet-class>servlet.EnrollStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnrollStudentServlet</servlet-name>
    <url-pattern>/enroll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentViewEnrollServlet</display-name>
    <servlet-name>StudentViewEnrollServlet</servlet-name>
    <servlet-class>servlet.StudentViewEnrollServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentViewEnrollServlet</servlet-name>
    <url-pattern>/student-enroll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentViewCalculateTuitionServlet</display-name>
    <servlet-name>StudentViewCalculateTuitionServlet</servlet-name>
    <servlet-class>servlet.StudentViewCalculateTuitionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentViewCalculateTuitionServlet</servlet-name>
    <url-pattern>/student-tuition</url-pattern>
  </servlet-mapping>
</web-app>